.box {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  /* 
  background-image: linear-gradient(red, blue);
  background-image: linear-gradient(to right, red, blue);
  background-image: linear-gradient(to left, red, blue);
  background-image: linear-gradient(to bottom, red, blue); 
  */
  background-image: linear-gradient(to bottom right, red, blue);
}

.box2 {
  border: 1px solid black;
  margin: 10px;
  height: 200px;
  width: 150px;
  background-image: radial-gradient(red, blue, orange);
  background-image: radial-gradient(circle, red, blue, orange);
}
