div {
  height: 100px;
  width: 100px;
  background-color: yellow;
  border: 1px solid black;
}

/* perspective - activated z-axis */
.translated {
  transform: perspective(10px) translateZ(-10px);
}

.scaled {
  margin-left: 100px;
  transform: perspective(350px) scaleZ(4) rotateX(45deg) rotateY(30deg);
}
